<div class="main_container">
  <mat-card-header class="header_table">
    <mat-card-title>Lista de clientes</mat-card-title>
    <div class="button-row">
      <mat-form-field class="filter_table">
        <input matInput (keyup)="filterCliente($event.target.value)" placeholder="Pesquisar" matTooltip="Procure um cliente com o nome">
      </mat-form-field>
      <button mat-button (click)="showAdicionarCliente()" matTooltip="Adicionar um cliente"><mat-icon class="menu_icons" >add_circle</mat-icon> Adicionar</button>
    </div>
  </mat-card-header>
  <router-outlet></router-outlet>

  <mat-table class="mat-elevation-z8" [dataSource]="dataSourceClientes">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef [style.display]="'none'"> ID </mat-header-cell>
      <mat-cell *matCellDef="let cliente" [style.display]="'none'"> {{cliente.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef class="first_table_column"> No. </mat-header-cell>
      <mat-cell *matCellDef="let cliente; let i = index;" class="first_table_column">{{i+1}}</mat-cell>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef > Nome </mat-header-cell>
      <mat-cell *matCellDef="let cliente"> {{cliente.nome}} </mat-cell>
    </ng-container>
    <!-- CEP Column -->
    <ng-container matColumnDef="cep">
      <mat-header-cell *matHeaderCellDef> CEP </mat-header-cell>
      <mat-cell *matCellDef="let cliente"> {{cliente.cep}} </mat-cell>
    </ng-container>
    <!-- Cidade Column -->
    <ng-container matColumnDef="cidade">
      <mat-header-cell *matHeaderCellDef> Cidade </mat-header-cell>
      <mat-cell *matCellDef="let cliente"> {{cliente.cidade}} </mat-cell>
    </ng-container>

    <!-- Grupo Column -->
    <ng-container matColumnDef="grupo">
      <mat-header-cell *matHeaderCellDef> Grupo </mat-header-cell>
      <mat-cell *matCellDef="let cliente"> {{cliente.grupo.nome}} </mat-cell>
    </ng-container>
    <!-- Actions-->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> A&ccedil;&otilde;es </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let cliente">
        <button mat-icon-button (click)="showEditarCliente(cliente.id)" matTooltip="Editar">
          <mat-icon aria-label="">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deletarCliente(cliente.id)" color="warn" matTooltip="Deletar">
          <mat-icon aria-label="">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
