<div class="main_container">
    <div class="button-row">
        <button mat-stroked-button color="primary" routerLink="/addgrupo">Adicionar</button>
    </div>
    <router-outlet style="margin-top: 80px;"></router-outlet>

    <mat-table class="mat-elevation-z8" [dataSource]="dataSource">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="id" hidden>
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let grupo"> {{grupo.id}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
            <mat-cell *matCellDef="let grupo"> {{grupo.nome}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> A&ccedil;&otilde;es </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let grupo">
                <button mat-icon-button (click)="showEditGrupo(grupo)">
                    <mat-icon aria-label="Edit grupo">edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteGrupo(grupo)" color="warn">
                        <mat-icon aria-label="Delete grupo">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
</div>
