<mat-card class="card_container">
    <mat-card-header>
      <mat-card-title>Adicionar um grupo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- The form goes here -->
      <div class="example-container">
        <mat-form-field>
          <input matInput #inputNomeGrupo placeholder="Nome" [(ngModel)] = "nome">
          <mat-hint align="end">{{inputNomeGrupo.value?.length || 3}}/60</mat-hint>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button (click)="criarGrupo(inputNomeGrupo.value);inputNomeGrupo.value=''" color="primary">Aceitar</button>
      <button mat-stroked-button routerLink="/grupos">Cancelar</button>
    </mat-card-actions>
  </mat-card>

