<mat-card class="card_container">
  <mat-card-header>
    <mat-card-title>Adicionar um cliente</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- The form goes here -->
    <div class="example-container">
        <mat-form-field hintLabel="Min 3 - Max 80">
        <input matInput #inputNome placeholder="Nome" [(ngModel)] = "nome">
        <mat-hint align="end">{{inputNome.value?.length || 3}}/80</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-select #selectGrupo placeholder="Grupo" [(ngModel)] = "grupo">
          <mat-option *ngFor="let grupo of grupos" value="{{grupo.id}}">{{grupo.nome}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput #inputCEP placeholder="CEP"  [(ngModel)] = "cep" (blur)="pesquisaCEP(inputCEP.value)">
      </mat-form-field>
      <mat-form-field hintLabel="Min 3 - Max 80">
        <input matInput #inputCidade maxlength="80" minlength="3" placeholder="Cidade"  [(ngModel)] = "cidade">
        <mat-hint align="end">{{inputCidade.value?.length || 3}}/80</mat-hint>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button (click)="criarCliente(selectGrupo.value)" color="primary">Aceitar</button>
    <button mat-stroked-button routerLink="/clientes">Cancelar</button>
  </mat-card-actions>
</mat-card>

