/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; background: #eeeeee }

table {
  width: 80%;
}
.main_container {
  max-width: 100%;
  padding: 30px;
}

/*CSS common for list of data*/
.button-row {
  text-align: left;
width: 100%;
}
.mat-button {
  float: right;
}
.button-row button {
  margin-right: 8px;
  margin-top: 0px;
  color: rgba(0, 0, 0, 0.65);
}
.button-row button:hover {
  background: #e6e6e6;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.75);
}

.filter_table {
  font-size: 14px;
  width: 25%;
  min-width: 200px;
  text-align: left;
  margin-left: 40px;
  margin-top: -8px !important;
}
.header_table .mat-card-title {
  float: left;
  color: #444;
  font: bold 20px "Roboto", sans-serif;
  letter-spacing: 0;
  margin-top: 5px;
  min-width: 100px;
  width: 155px;
}
.mat-elevation-z8 {
  clear: both;
}

@media only screen and (max-width: 470px) {
  .header_table .mat-card-title {
    width: 100%;
  }
  .filter_table {
    width: 100%;
    margin-left: 0px;
  }
  .button-row button {
    margin-bottom: 5px;
  }
}
