/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
  margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; background: #eeeeee }

.sidenav-container {
  min-height: 100vh;
}
.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
}
/*
 * Make the Component injected by Router Outlet full height:
 */
main {
  display: flex;
  flex-direction: column;
  > *:not(router-outlet) {
    flex: 1;
    display: block;
  }
}
footer{
  background: #ffffff;
padding: 20px 10px;
text-align: center;
font-size: 14px;
}

table {
  width: 80%;
}
.main_container {
  max-width: 100%;
  padding: 30px;
  margin-top:60px;
}
.grid-container{
  margin-top:60px !important;
  padding-top: 30px;

}

/*CSS common for list of data*/
.button-row {
  text-align: left;
width: 100%;
}
.mat-button {
  float: right;
}
.button-row button {
  margin-right: 8px;
  margin-top: 0px;
  color: rgba(0, 0, 0, 0.65);
}
.button-row button:hover {
  background: #e6e6e6;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.75);
}

.filter_table {
  font-size: 14px;
  width: 25%;
  min-width: 200px;
  text-align: left;
  margin-left: 40px;
  margin-top: -8px !important;
}
.header_table .mat-card-title {
  float: left;
  color: #444;
  font: bold 20px "Roboto", sans-serif;
  letter-spacing: 0;
  margin-top: 5px;
  min-width: 100px;
  width: 155px;
}
.mat-elevation-z8 {
  clear: both;
}
.first_table_column{
  margin-left:30px;
}


@media only screen and (max-width: 470px) {
  .header_table .mat-card-title {
    width: 100%;
  }
  .filter_table {
    width: 100%;
    margin-left: 0px;
  }
  .button-row button {
    margin-bottom: 5px;
  }
}
